.admin-login-container {
    padding: 4rem 20rem;
    height: 100vh;

    .form-box {
        padding: 5rem 6rem;
        border-radius: 8px;
        box-shadow: var(--menu-box-shadow) !important;
    }
}
