<div class="notification-details-container" appClickOutside (clickOutside)="closeModal()">
    <div *ngIf="notificationsStateService.selectedNotification?.notificationType === notificationType.FOLLOW_REQUEST_PENDING">
        <div><span class="info-label">User status:</span>  {{ user?.followingStatus }}</div>
        <div><span class="info-label">User first name:</span> {{ user?.first_name }}</div>
        <div><span class="info-label">User last name:</span> {{ user?.last_name }}</div>

        <div *ngIf="user?.followingStatus === 'PENDING'" class="buttons-container">
            <button class="button full-width blue" (click)="acceptFollowRequest()">Accept request</button>            
            <button class="button full-width remove" (click)="declineFollowRequest()">Decline request</button>            
        </div>
    </div>

    <div *ngIf="notificationsStateService.selectedNotification?.notificationType === notificationType.EVENT_REQUEST_PENDING">
        <div><span class="info-label">Event status:</span>  {{ event?.userStatus }}</div>
        <div><span class="info-label">Event description:</span> {{ event?.description}}</div>

        <div class="buttons-container" *ngIf="event?.userStatus === eventStatus.PENDING">
            <button class="button full-width blue" (click)="acceptEventRequest()">Accept request</button>            
            <button class="button full-width remove" (click)="declineEventRequest()">Decline request</button>            
        </div>
    </div>
</div>
