<div class="scheduler-container">
    <div class="calendar-container">
        <full-calendar #calendar [options]="calendarOptions">
            <ng-template #eventContent let-arg>
                <div class="cal-event" [ngClass]="{
                    available: arg.event.extendedProps?.status === 'available',
                    unavailable: arg.event.extendedProps?.status === 'unavailable',
                    pending: arg.event.extendedProps?.status === 'pending',
                    accepted: arg.event.extendedProps?.status === 'accepted',
                    declined: arg.event.extendedProps?.status === 'declined'}">
                    <b class="cal-event-time" [ngClass]="{
                        available: arg.event.extendedProps?.status === 'available',
                        unavailable: arg.event.extendedProps?.status === 'unavailable',
                        pending: arg.event.extendedProps?.status === 'pending',
                        accepted: arg.event.extendedProps?.status === 'accepted',
                        declined: arg.event.extendedProps?.status === 'declined'}">
                        {{ arg.timeText }}
                    </b>
                    <i class="cal-event-title" >
                        {{ arg.event.title }}
                    </i>
                </div>
            </ng-template>
        </full-calendar>
    </div>

    <div class="events-container">
        <div class="title">Moji izabrani treneri</div>

        <div class="navigation-wraper">
            <div class="keen-slider keen-slider--vertical" #sliderRef>
                <ng-container *ngFor="let user of buDashboardStateService.allDashboardBusinessUsers">
                    <div class="keen-slider__slide slide-item" >
                        <coach-contact-box [user]="user" />
                    </div>
                </ng-container>
            </div>
    
            <ng-container *ngIf="buDashboardStateService.allDashboardBusinessUsers.length > 1" >
                <img *ngIf="slider" (click)="slider?.prev()"
                    [ngClass]="'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')"
                    src="../../../../assets/svg/slider_left.svg" alt="Edit">

                <img *ngIf="slider" (click)="slider?.next()"
                    [ngClass]="'arrow arrow--right ' + (slider?.track?.details?.slides && slider.track.details.slides.length - 1 === currentSlide ? 'arrow--disabled' : '')"
                    src="../../../../assets/svg/slider_right.svg" alt="Edit">
            </ng-container>
        </div>

        <div *ngIf="!buDashboardStateService.selectedDayEvents.length" class="no-data-msg">No events for current date</div>
    </div>
</div>
