<div class="scheduler-container">

    <div class="calendar-container">
        <div class="legend-container">
            <div class="legend-item">
                <span class="dot accepted"></span><span class="legend-text">Potvrđen,</span>
            </div>
            <div class="legend-item">
                <span class="dot pending"></span><span class="legend-text">Na čekanju,</span>
            </div>
            <div class="legend-item">
                <span class="dot available"></span><span class="legend-text">Prazan termin</span>
            </div>
        </div>
    
        <full-calendar #calendar [options]="calendarOptions">
            <ng-template #eventContent let-arg>
                <calendar-event
                    (bookEvent)="bookEvent($event)"
                    [isEndUser]="authStateService.currentUser?.role === role.END_USER"
                    [availableEvents]="buDashboardStateService.allEvents"
                    [status]="arg.event.extendedProps?.status"
                    [title]="arg.event?.title"
                    [eventId]="arg.event?.id"
                    [timeText]="arg.timeText"
                    [numberOfAttendees]="arg.event.extendedProps?.numberOfAttendees"
                    [acceptedAttendees]="arg.event.extendedProps?.acceptedAttendees" />
            </ng-template>
        </full-calendar>
    </div>

    <div class="events-container">
        <div class="title">Moji izabrani treneri</div>

        <div class="navigation-wraper">
            <div class="keen-slider keen-slider--vertical" #sliderRef>
                <ng-container *ngFor="let user of buDashboardStateService.allDashboardBusinessUsers">
                    <div class="keen-slider__slide slide-item" >
                        <coach-contact-box [user]="user" />
                    </div>
                </ng-container>
            </div>
    
            <ng-container *ngIf="buDashboardStateService.allDashboardBusinessUsers.length > 1" >
                <img *ngIf="slider" (click)="slider?.prev()"
                    [ngClass]="'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')"
                    src="../../../../assets/svg/slider_left.svg" alt="Edit">

                <img *ngIf="slider" (click)="slider?.next()"
                    [ngClass]="'arrow arrow--right ' + (slider?.track?.details?.slides && slider.track.details.slides.length - 1 === currentSlide ? 'arrow--disabled' : '')"
                    src="../../../../assets/svg/slider_right.svg" alt="Edit">
            </ng-container>
        </div>

    <div class="events-container">

        <div class="event-item" *ngFor="let event of buDashboardStateService.selectedDayEvents">
            <event-box
                (bookEvent)="bookEvent($event)"
                [data]="event"
                [isEndUser]="authStateService.currentUser?.role === role.END_USER" />
        </div>
    </div>

        <div *ngIf="!buDashboardStateService.selectedDayEvents.length" class="no-data-msg">No events for current date</div>
    </div>
</div>
