.tabs-wrapper {
    position: relative;

    .regular-tabs-container {
        display: flex;
        overflow-x: scroll;
        gap: 12px;
        padding: 0px 10px 10px;

        .regular-tab {
            display: inline-block;
            transition: all 0.5s;
            padding: 1rem 1.4rem;
            background-color: white;
            cursor: pointer;
            flex-grow: 1;
            min-width: max-content;
            box-shadow: var(--tabs-box-shadow);
            border-radius: 5px;

            .tab-name {
                font-weight: 400;
                color: var(--main-blue-color);
                text-align: center;
                font-size: 18px;

                img {
                    visibility: hidden;
                    margin-left: 12px;
    
                    &.visible {
                        visibility: visible;
                    }
                }
            }
            &.selected {
                background-color: var(--main-blue-color);
    
                .tab-name {
                    font-weight: 600;
                    color: var(--white-color);
    
                    img {
                        transition: all 0.5s;
                    }
                }
            }
        }
    
        .actions {
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            height: 100%;
            cursor: pointer;
    
            .action-item {
                height: 100%;
                display: inline-block;
                padding: 1rem 2rem
            }
        }
    }

    &.arrows-visible {
        padding-right: 9.4rem;
    }
}
