<div class="event-box-container" [ngClass]="{
    pending: data.userStatus === 'pending',
    accepted: data.userStatus === 'accepted',
    declined: data.userStatus === 'declined',
    available: data.userStatus === 'available',
    unavailable: data.userStatus === 'unavailable'
    }">
    <div class="title-box">{{ data.description }}</div>

    <div class="time-box">
        <div class="date">
            <span class="label">From: </span> <span class="value">{{ data.start_at | date : 'medium'}}</span>
        </div>
        <div class="date">
            <span class="label">To: </span> <span class="value">{{ data.end_at | date : 'medium'}}</span>
        </div>
    </div>

    <div class="buttons-container" *ngIf="data.userStatus === 'available' && isEndUser">
        <button class="button regular--medium" (click)="bookEvent.emit(data)">Book event</button>
    </div>

    <div class="clock">
        <mat-icon [ngClass]="{
            unavailable: data.userStatus === 'unavailable',
            pending: data.userStatus === 'pending',
            accepted: data.userStatus === 'accepted',
            declined: data.userStatus === 'declined',
            available: data.userStatus === 'available'}">access_time</mat-icon>
    </div>
</div>
