.textarea-container {
    mat-form-field {
        width: 100%;

        textarea {
            min-height: 8rem;
            border: 1px solid var(--border-input-primary-color);
            border-radius: 0.8rem;
            padding: 1.1rem 1.3rem;
            color: var(--primary-text-color);
            width: 100%;
            font-size: 14px;
        }

        .mat-mdc-text-field-wrapper {
            background-color: transparent !important;
        }
    }

    .form-control-error {
        height: 37px;
        &.hidden {
          visibility: hidden;
        }
      }
}