<div class="navigation-container">
    <div class="right-section">

        <div *ngIf="authStateService.currentUser === null" class="nav-option" (click)="signInClicked()">Sign in</div>

        <div class="user-box" *ngIf="authStateService.currentUser !== null">
            <app-notification-icon />

            <img class="user-avatar" *ngIf="authStateService.currentUser?.avatar; else noUserAvatar" src="{{authStateService.currentUser?.avatar}}" alt="">

            <ng-template #noUserAvatar>
                <mat-icon aria-label="Example icon-button with a menu">account_circle</mat-icon>
            </ng-template>

            <span class="user-name">{{authStateService.currentUser?.fullName}}</span>
        </div>
    </div>
</div>
