<div class="notification-card-container" [class.is-read]="notification.is_read">
    <div class="title">{{ notification.title }}</div>
    <div class="body">{{ notification.content }}</div>

    <div (click)="notificationsStateService.openNotificationDetails(notification)" class="link-text" *ngIf="isDetailsOptionVisible">
        See the details
    </div>
    <div class="dates-box">
        <div class="clock">
            <mat-icon>access_time</mat-icon>
        </div>
        <div class="event-date">
            {{ notification.created_at| date: 'EEEE, MMMM d, y h:mm a'}}
        </div>
    </div>
</div>
