<div class="company-info-box-container">
    <div class="img-container">
        <img src="{{ company.imageUrl ? company.imageUrl : defaultImage }}" alt="Fitness image">
    </div>

    <div class="text-container">
        <div class="text-row">
            <span class="label">Name: </span> <span class="text">{{ company.name }}</span>
        </div>

        <div class="text-row">
            <span class="label">Address: </span> <span class="text"> {{ company.address }} </span>
        </div>
    </div>
</div>