<div class="company-info-box-container">
    <div class="img-container">
        <img src="https://media.istockphoto.com/id/1132006407/photo/empty-gym.jpg?s=612x612&w=0&k=20&c=si73-OzIvdfuD7J82-WGJogpxgulXHVxmzldCjopuno=" alt="Fitness image">
    </div>

    <div class="text-container">
        <div class="text-row">
            <span class="label">Name: </span> <span class="text">{{ company.name }}</span>
        </div>

        <div class="text-row">
            <span class="label">Address: </span> <span class="text"> {{ company.address }} </span>
        </div>
    </div>
</div>