.buttons-container {
    display: flex;

    &.align-right {
        :first-child {
            margin-left: auto !important;
        }
    }

    &.align-center {
        align-items: center;
        justify-content: center;
    }
}

.button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 12px 20px 12px 20px;

    &:hover {
        opacity: 0.9;
    }

    &.full-width {
        width: 100%;
    }

    &.regular {
        color: white;
        background-color: var(--primary-color);
    }

    &.regular--medium {
        color: white;
        background-color: var(--event-available);
        padding: 12px 18px 12px 18px;
        border-radius: 5px;
    }

    &.remove {
        color: white;
        background-color: red;
    }

    &.green {
        color: white;
        background-color: var(--primary-green);
    }

    &.blue {
        color: white;
        background-color: var(--light-blue-color);
    }

    &.blue--big {
        color: white;
        background-color: var(--light-blue-color);
        padding: 24px;
        font-size: 20px;
    }

    &.red--big {
        color: white;
        background-color: red;
        padding: 24px;
        font-size: 20px;
    }

    &.green--medium {
        color: white;
        background-color: var(--primary-green);
        padding: 20px;
        font-size: 18px;
    }

    &.orange {
        color: white;
        font-size: 14px;
        font-weight: 600;
        background-color: var(--secondary-color);
    }

    &.close {
        background-color: #E23C3C;
        padding: 4px 26px;
        height: 22px;
    }

    &.check {
        background-color: var(--event-accepted);
        padding: 2px 26px 4px;
        height: 22px;
    }
}
