.fc { /* the calendar root */

    ::ng-deep {
        overflow: scroll;

        .fc-daygrid-body {
            z-index: 1 !important;
        }

        .fc-view-harness {
            min-width: 1000px !important;
        }

        .fc-scrollgrid-sync-table, .fc-col-header, .fc-timegrid-body  {
            min-width: 1000px !important;

            table {
                min-width: 1000px !important;
            }
        }

        th[role="columnheader"] {
            padding: 2rem 1rem;
            color: var(--text-grey-primary);
            vertical-align: middle;
        }

        .fc-timegrid-slot-label {
            padding: 2rem 1rem;
            color: var(--text-grey-primary);
        }

        .fc-timegrid-slot-label-frame {
            text-align: center;  
        }

        .fc-v-event {
            background-color: transparent !important;
            border: none !important;
        }

        .pending {
            background-color: var(--event-pending);
            color: white;
        }

        .accepted {
            background-color: var(--event-accepted);
            color: white;
        }

        .declined {
            background-color: var(--event-declined);
            color: white;
        }

        .available {
            background-color: var(--event-available);
            color: white;
        }

        .unavailable {
            background-color: var(--event-unavailable);
            color: white;
        }

        .cal-event {
            overflow: hidden;
            border-radius: 4px;

            .cal-event-time {
                padding: 0.2rem 0 0.2rem 0.2rem;
                cursor: pointer;
            }
    
            .cal-event-title {
                padding: 0.2rem 0.2rem 0.2rem 0;

                cursor: pointer;
            }
        }

        .fc-toolbar-title {
            color: var(--text-grey-primary);
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        .fc-toolbar-chunk {
            button {
                color: var(--text-grey-primary);
                background-color: white;
                font-size: 16px;
                box-shadow: var(--cards-box-shadow);
                border: none;
            }

            .fc-today-button, .fc-button {
                padding: 0.5rem 1.6rem;
            }
        }

       .fc-button-primary:not(:disabled).fc-button-active, .fc-button-primary:not(:disabled):active {
            background-color: white;
            color: var(--text-grey-primary);
        }

    }
}