.text-box {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: var(--text-grey-primary);
}

.secondary-text-box {
    display: grid;
    grid-template-columns: min-content auto;

    .icon {
        margin-right: 10px;
        padding-top: 2px;
    }

    .text {
        font-size: 12px;
        font-weight: 400;
        color: var(--primary-color);
    }
}

.bold-text {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    margin-right: 8px;
}

.stars-container {
    display: inline-block;
    vertical-align: middle;

    mat-icon {
        height: 20px;
        width: 20px;
        font-size: 18px;
        color: var(--secondary-color);

    }
}

.review-box {
    justify-self: end;

    .main {
        background-color: var(--secondary-color);
        color: var(--white-color);
        font-weight: 700;
        font-size: 18px;
        width: 34px;
        height: 24px;
        line-height: 22px;
        text-align: center;
        margin-left: auto;
        border-radius: 2px;
    }

    .text {
        font-weight: 500;
        font-size: 8px;
        color: var(--text-grey-primary);
    }
}

.card-box {
    padding: 23px;
    box-shadow: var(--cards-box-shadow);
    border-radius: 5px;
    margin-bottom: 10px;
}

.header-box {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 50px;
}

.medium-text {
    font-weight: 600;
    font-size: 12px;
    color: var(--primary-color);
}
