.slide-item {
  justify-content: center;
  font-weight: 500;
  padding: 0.4rem
}

.navigation-wraper {
    position: relative;
    margin: auto;

    .keen-slider  {
        &.keen-slider--vertical {
            height: 100%;
        }
    }
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: black;
  cursor: pointer;
}

.arrow--left {
  left: 16px;
  top: 100px;
}

.arrow--right {
  left: auto;
  right: 16px;
  top: 100px;
}

.arrow--disabled {
    opacity: 0.4;
}
