.legend-container {
    text-align: center;
    margin-bottom: 15px;

    .legend-item {
        display: inline;

        .legend-text {
            font-size: 13px;
            color: var(--text-grey-primary);
        }

        .dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: inline-block;
        }

        .accepted {
            background-color: var(--event-accepted);
        }

        .pending {
            background-color: var(--event-pending);
        }

        .available {
            background-color: var(--event-available);
        }
    }
}
