.events-legend-box {
    padding: 0.25rem 0 0.25rem 0;
    border: 1px solid var(--color-lighter-gray);
    display: flex;
    flex-wrap: wrap;

    .event {
        padding: 0.5rem;
        font-size: 13px;

        span {
            padding: 0 1.5rem;
            margin-left: 4px;
            border-radius: 2px;
        }

        .pending {
            background-color: var(--event-pending);
        }

        .accepted {
            background-color: var(--event-accepted);

        }

        .declined {
            background-color: var(--event-declined);
        }

        .available {
            background-color: var(--event-available);

        }
    }
}