<div class="scheduler-container">
    <div class="calendar-container">
        <!-- <div class="user-info">
            <span>
                <mat-icon class="account-icon grey" *ngIf="!buDashboardStateService.currentDashboardBusinessUser?.avatar" >account_circle</mat-icon>
            </span>
            {{ buDashboardStateService.currentDashboardBusinessUser?.fullName }} calendar
        </div> -->

        <!-- TODO: Remove this -->
        <full-calendar #calendar [options]="calendarOptions">
            <ng-template #eventContent let-arg>
                <div class="cal-event" [ngClass]="{
                    available: arg.event.extendedProps?.status === 'available',
                    unavailable: arg.event.extendedProps?.status === 'unavailable',
                    pending: arg.event.extendedProps?.status === 'pending',
                    accepted: arg.event.extendedProps?.status === 'accepted',
                    declined: arg.event.extendedProps?.status === 'declined'}">
                    <b class="cal-event-time" [ngClass]="{
                        available: arg.event.extendedProps?.status === 'available',
                        unavailable: arg.event.extendedProps?.status === 'unavailable',
                        pending: arg.event.extendedProps?.status === 'pending',
                        accepted: arg.event.extendedProps?.status === 'accepted',
                        declined: arg.event.extendedProps?.status === 'declined'}">
                        {{ arg.timeText }}
                    </b>
                    <i class="cal-event-title" >
                        {{ arg.event.title }}
                    </i>
                </div>
            </ng-template>
        </full-calendar>

    </div>

    <div class="events-container">
        <h2>Events for a selected day</h2>
        <div class="event-item" *ngFor="let event of buDashboardStateService.selectedDayEvents">
            <!-- <event-box
                (bookEvent)="bookEvent($event)"
                [data]="event"
                [isEndUser]="authStateService.currentUser?.role === role.END_USER" /> -->
        </div>

        <div *ngIf="!buDashboardStateService.selectedDayEvents.length" class="no-data-msg">No events for current date</div>
    </div>
</div>